
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="assets/images/icon.png" width="30" height="30" alt="">
  </a>
</nav>
<div class="container" >

    <div class="row align-items-start">

      <div class="col-md-6">
        <div class="row row-titulo justify-content-center align-items-center">
          <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
            
            <div class="form-group">
              <label for="secret">Llave Secreta</label>
              <input type="text" formControlName="secret" class="form-control" id="secret" aria-describedby="secretHelp" placeholder="Ingrese Llave">
              <small id="secretHelp" class="form-text text-muted">Recuerde ingresar la llave para generar su codigo.</small>
            </div>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Ingrese Nombre">
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>


          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row h-100 justify-content-center align-items-center">

          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Code OTP</h5>
              <h6 class="card-subtitle mb-2 text-muted">Alatorio Automaticamente Generado</h6><br>
              <p class="card-text"><b>Codigo:</b> {{code}}</p>
              <p class="card-text"><b>Nombre:</b> {{name}}</p>
              <p class="card-text"><b>Vence en:</b> {{time}} Segundos</p>
            </div>
          </div>
          
        </div>


      </div>
    </div><br>

    <div class="row align-items-start">
      <div class="col-md-12">
        <div class="row row-titulo ">
          <div class="card" style="width: 120rem;">
            <div class="card-body">
              <h5 class="card-title">Code OTP</h5>
              <p class="card-text"><b>Cómo conectarse:</b> una aplicación que utilice contraseñas de un solo uso, basadas en el algoritmo TOTP, debe proporcionar una clave secreta. Agregue esta clave secreta al sistema. El nombre de la aplicación se puede especificar cualquiera, este campo es necesario para que comprenda para qué aplicación en particular se genera una contraseña de un solo uso. Si conecta un sitio, puede especificar el nombre de este sitio en el nombre de la aplicación. Después de agregar la aplicación, se generará contraseñas de un solo uso para esta aplicación cada 30 segundos.</p>
              <p class="card-text"><b>Cómo utilizar: </b> Con la llave generada ingresarla con un numbre y se empezara a generar el codigo correspondiente</p>
              <p class="card-text"><b>¡Precaución!</b> Todos los datos se almacenan únicamente en la memoria de su navegador (no se almacenan en nuestro servidor). Cuando borra la memoria caché del navegador o lo vuelve a instalar, se eliminarán todos sus datos</p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>

